* {
  margin: 0px;
}

header {
  background-color: #eb2929;
  width: 1215px;
  height: 55px;
  position: relative;
}
.logos {
  position: absolute;
  left: 70px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  padding: 5px 15px;
}

.logo {
  color: #eb2929;
  text-decoration: none;
  font-size: 33px;
  font-weight: 600;
}
.buttons {
  position: absolute;
  right: 80px;
  top: 17px;
}

.login {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
}
.creat {
  text-decoration: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  word-spacing: normal;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 15px;
  margin-left: 10px;
}

section {
  position: relative;
  padding: 20px 50px;
}
.title {
  font-size: 36px;
  font-family: Poppins;
  color: #192f60;
  font-weight: bold;
}
.main-title {
  color: #192f60;
  font-size: 18px;
  font-weight: 600;
}

.result1 {
  display: flex;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.filter {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  width: 170px;
  height: 450px;
  margin-top: 20px;
  padding-left: 15px;
  padding-top: 10px;
}

.select {
  margin-top: 10px;
  font: normal normal normal 14px/21px Poppins;
  color: #192f60;
}

#location {
  margin-top: 6px;
  width: 150px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #8c96ab;
}

.cuisine {
  margin-top: 6px;
  color: #8c96ab;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 1px;
}
.short {
  margin-top: 6px;
  font: normal normal 600 18px/27px Poppins;
  color: #192f60;
}
.result1 {
  position: absolute;
  top: 80px;
  left: 340px;
  height: 200px;
  width: 670px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  opacity: 1;
}

.menu-image {
  width: 120px;
  height: 100px;
  margin: 20px;
  border-radius: 20px;
}

.menu-text {
  margin-top: 20px;
  margin-left: 10px;
}
.menu-text h3 {
  text-align: left;
  font: normal normal 600 20px/46px Poppins;
  letter-spacing: 0px;
  color: #192f60;
}
.menu-text p {
  font-weight: medium;
  font-size: 15px;
  color: #192f60;
}

#address {
  margin-top: 5px;
  color: #8c96ab;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 1px;
}
.price {
  position: absolute;
  left: 25px;
  bottom: 15px;
}

.underline {
  width: 620px;
}
#option {
  margin-top: 10px;
  margin-bottom: 10px;
}
.result2 {
  position: absolute;
  top: 300px;
  left: 340px;
  height: 200px;
  width: 670px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  padding-top: 20px;
  display: flex;
  opacity: 1;
}

.pagination {
  position: absolute;
  top: 540px;
  left: 600px;
  letter-spacing: 5px;
}

.border {
  text-decoration: none;
}
