* {
  margin: 0%;
}

.food-image {
  background-image: linear-gradient(
      transparent,
      rgb(0, 0, 0, 0.1),
      rgb(0, 0, 0)
    ),
    url("../image/homepage.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1215px;
  height: 450px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

input {
  padding: 0.8rem;
  margin: 1.5rem 1rem 1.5rem 1rem;
}

.search {
  position: relative;
  color: rgb(98, 97, 97);
  top: 2.4rem;
  left: 2.8rem;
}
.input-div {
  display: flex;
}

.first-input {
  width: 29%;
  padding-left: 2rem;
}

.second-input {
  width: 60%;
}

.quick-search {
  margin-left: 120px;
  margin-top: 40px;
}

.quick-search h4 {
  color: #adb5c7;
  padding-top: 20px;
}

.menu,
h3 {
  color: #192f60;
}

.menu {
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.menu1 {
  display: flex;
  height: 120px;
  width: 300px;
  margin: 1rem;
  box-shadow: 0 0 4px black;
}
.menu1:hover {
  border: 1px solid black;
  transform: scale(1.1);
}
.menu-image {
  width: 40%;
  height: auto;
}
.menu-text {
  padding: 1.5rem;
  color: #adb5c7;
}
